@import url('https://fonts.googleapis.com/css2?family=Libertinus+Keyboard&family=Roboto:ital,wght@0,200;1,200&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

iframe[src*="spline.design"] {
  pointer-events: none; /* Optional: disable interactions */
}

/* OR inside JSX you can overlay a div */
body {
  background-color: white;
  scroll-behavior: smooth;
  font-family: 'Inter', 'system-ui', 'sans-serif';
}

@layer base{

  body{
    @apply text-black relative font-sans h-screen overflow-x-hidden;
  }
}
@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.95); }
  to { opacity: 1; transform: scale(1); }
}

.animate-fadeIn {
  animation: fadeIn 0.25s ease-out;
}
